{
    auto_https off
}

http://thegrandprinterofmemesandunfinitetodosservanttonox.tech, http://www.thegrandprinterofmemesandunfinitetodosservanttonox.tech {
    reverse_proxy printer-api:8080
}

http://bibliothek.thegrandprinterofmemesandunfinitetodosservanttonox.tech {
    reverse_proxy roombooker_app:5000
}

http://bio.thegrandprinterofmemesandunfinitetodosservanttonox.tech {
    reverse_proxy bio-dashboard:8501
}

http://bioapi.thegrandprinterofmemesandunfinitetodosservanttonox.tech {
    reverse_proxy bio-dashboard:8000
}

http://barber.thegrandprinterofmemesandunfinitetodosservanttonox.tech {
    reverse_proxy barber-booker:8090
}

http://availability.thegrandprinterofmemesandunfinitetodosservanttonox.tech {
    reverse_proxy availability:8070
}
